.body{
	font-family:"Maven Pro";
}
/** ##### BANNER ##### **/
#banner-principal {
	background: url('../img/min/banner-principal.png') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#banner-principal .container-fluid, #banner-principal .row, #banner-principal .col-lg-12 {	
	width: 100%;
	height:100vh;	
}
#banner-principal .col-lg-12 {
	/* display: flex;
	align-items: flex-start; */
}
/** ##### NAVIGATION ##### **/
#banner-principal nav {
	width: 100%;
	margin-top: 30px;
	height: 100px;
}
#banner-principal nav a{
	color: #FFF;
}
#banner-principal nav a:hover, #banner-principal nav a.active{
	color:#00BFFF;
}
#banner-principal nav .navbar-toggler{
	color: #FFF;
	border: 1px #FFF solid;
}
#banner-principal nav .navbar-toggler-icon{
	color: #FFF;
}
#banner-principal nav .dropdown-menu{
	border-radius: 0;
}
#banner-principal nav .dropdown-menu a{
	border-radius: 0;
	color: #0F0F1E;
}
#banner-principal nav .dropdown-menu a:hover{
	background: #0F0F1E;
	color: #FFF;
}
#banner-principal header{
	display: flex;
	flex-direction: column;
}
#banner-principal header h1{
	text-align: center;
	color: #FFF;
	font-size: 39px;
}
#banner-principal header h3{
	text-align: center;
	color: #FFF;
	font-size: 20px;
	font-weight: lighter;
}
/** ##### ABOUT BLOG ##### **/
#about-blog{
	background-color: #0F0F1E; 
	padding: 100px 0;
}
h2{
	font-size: 27px;
	font-weight: bolder;
	color: #FFF;
	border-left: #22404E solid 6px;
	padding: 10px 0 10px 20px; 
}
#about-blog .col-lg-12 h2:nth-child(1){
	margin-top: 80px;
}
#about-blog p{
	font-size: 16px;
	margin: 20px 0 0 20px;
	font-size: 16px;
	color: #FFF;
}
#about-blog .box{
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;	
	/* padding: 0 30px; */
	background: #00000F;
}
#about-blog .box button{
	padding:10px 20px;
	font-size: 16px;
	background: transparent;
	border: #FFF 2 solid;
	color: #FFF;
	font-weight: bolder;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	cursor: pointer;
}
#about-blog .box:nth-child(1) button:hover{
	color: #FFC926;
	border-color: #FFC926;
}
#about-blog .box:nth-child(2) button:hover{
	color: #00BFA5;
	border-color: #00BFA5;
}
#about-blog .box:nth-child(3) button:hover{
	color: #F05E4D;
	border-color: #F05E4D;
}
#about-blog .box:nth-child(2), #about-blog .box:nth-child(3){
	margin-top: 20px;
}
section.blog-carousel{
	margin-top: 30px;
}
section.blog-carousel a.blog-box{
	display: flex;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	text-decoration: none;
	padding: 0 20px;
}
section.blog-carousel a.blog-box h4{
	text-align: left;
	color: #779AAA;
	font-size: 15px;
	font-weight: bolder;
}
section.blog-carousel a.blog-box h5{
	color: #FFF;
	font-size: 17px;
	font-weight: bold;
}
section.blog-carousel .blog-box .caption{
	min-width: 265px;
	padding: 30px 20px;
	background: #00000F;
}
section.blog-carousel .blog-box img{
	object-fit: fill;
	min-height: 200px;
}
.active-caption{
	background: #22404E!important;
}
.active-h4{
	color: #050514!important;
}
/* ##Customizando arrows## */
button.slick-prev, button.slick-next{
	z-index: 9999;
	width: 36px;
	height: 50px;
}
button.slick-prev:before, button.slick-next:before{
	content: "";
}
button.slick-prev, button.slick-prev:hover, button.slick-prev:focus{
	background: url(../img/arrow.png);
}
button.slick-next, button.slick-next:hover, button.slick-next:focus{
	background: url(../img/arrow-r.png);
}
/** ##### DEPOIMENTOS ##### **/
#depoimentos{
	padding: 90px 0;
	background: #00000F;
}
#depoimentos h2{
	padding: 0;
	color: #FFF;
	font-size: 27;
	font-weight: bold;
	border: none;
	text-align: center;
}
.depoimentos-carousel{
	margin-top: 60px;
}
/** ##### DEPOIMENTOS BOX ##### **/
.depoimentos-carousel .depo-box{
	padding: 0 10%;
	display: flex;
	margin-bottom: 50px;
}
.depoimentos-carousel .depo-box p{
	color: #FFF;
	padding: 0 0 0 40px;
}
.depoimentos-carousel .depo-box span{
	width: 220px;
	text-align: center;
}
.depoimentos-carousel .depo-box span h5{
	color: #779AAA;
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
}
.depoimentos-carousel .depo-box span h6{
	color: #FFF;
}
.depoimentos-carousel .slick-dots button:before{
	content: none;
}
.depoimentos-carousel .slick-dots li{
	width: 50px;
	height: 10px;
	background: #FFF;
}
.depoimentos-carousel .slick-dots li:hover{
	background: #00BFFF;
}
.depoimentos-carousel .depo-box img{
	border-radius: 100px;
}
/** ##### NEWSLETTER ##### **/
#newsletter{
	min-height: 300px;
	padding:80px 0;
	background: url('../img/min/banner-feed.png') no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#newsletter h3, h4{	
	text-align: center;
	color: #FFF;
}
#newsletter h3{	
	font-weight: bold;
	font-size: 27px;
}
#newsletter h4{
	font-size: 16px;
	font-weight: normal;
}
#newsletter button{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008dcd+1,00bfff+100 */
	background: #008dcd; /* Old browsers */
	background: -moz-linear-gradient(left, #008dcd 1%, #00bfff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #008dcd 1%,#00bfff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #008dcd 1%,#00bfff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dcd', endColorstr='#00bfff',GradientType=1 ); /* IE6-9 */
	font-weight: bold;
	font-size: 16px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: none;
}
#newsletter form{
	margin-top: 30px;
}
#newsletter input{
	width: 100%;
}
/** ##### FOOTER ##### **/
#footer{
	background: #00000F;
}
#footer .row{
	height: 300px;
	display: flex;
	align-items: center;
}
#footer .col-lg-6{
	display: flex;
	align-items: center;
	height: 140px;	
}
#footer .col-lg-6:nth-child(1){
	border-right:#0F0F1E solid 2px;
	justify-content: flex-end;
	padding-right: 50px; 
}
#footer .col-lg-6:nth-child(2){
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 50px;
	font-size: 27px;
	font-weight: bold;
	color: #FFF;
}
#footer .col-lg-6:nth-child(2) a{
	color: #FFF;
}
#footer .col-lg-6:nth-child(2) h3{
	padding-left:18px;
}
#footer .col-lg-6 .social-box{
	font-size: 55px;
}
/** ##### INNER PAGE ##### **/
#banner-principal.inner-page{
	background: url('../img/min/banner-interno.png') no-repeat top center fixed #0F0F1E;
	padding-bottom: 90px;
}
#banner-principal.inner-page .col-lg-12, #banner-principal.inner-page .container-fluid{	
	height: auto;
}
#banner-principal.inner-page .row{
	height:auto;
}
.inner-page header{
	padding: 90px 0;
}
.inner-page header h1{
	text-align: center;
	font-size: 39px;
	color: #FFF;
}
/** ##### BLOG PAGE ##### **/
.inner-page .container , .inner-page .container .col-lg-8{
	padding: 0;
}
.inner-page .blog-box{
	margin-bottom: 30px;
	padding: 0 5px;
	display: flex;
	flex-direction: column;
}
.inner-page a.blog-box:hover{
	text-decoration: none;
}
.inner-page .blog-box > span:nth-child(1) img{
	object-fit: cover;
	height: 250px;
	width: 100%;
}
.inner-page .blog-box > span:nth-child(1) > p{
	position: absolute;
	padding: 15px 30px;
	top: 198px;
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
	background: #008dcd; /* Old browsers */
	background: -moz-linear-gradient(left, #008dcd 0%, #00bfff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #008dcd 0%,#00bfff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #008dcd 0%,#00bfff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dcd', endColorstr='#00bfff',GradientType=1 ); /* IE6-9 */
}
.inner-page .blog-box > span:nth-child(2) {
	background: #00000F;
	padding: 30px 30px;
}
.inner-page .blog-box > span:nth-child(2) h3{
	color: #FFF;
	font-weight: bolder;
	font-size: 17px;
	margin-bottom: 10px;
}
.inner-page .blog-box > span:nth-child(2) p{
	color: #FFF;
	font-size: 16px;
}
/***** SINGLE POST *****/
.blog-single-post-box{
	background: #7799A9;
	padding: 80px 0 60px 0;
}
.blog-single-post-box h1{
	padding: 0 60px;
	font-size: 60px;
	font-weight: 700;
	color: #00000F;
}
.blog-single-post-box h2{
	font-size: 33px;
	border: none;
	padding: 0;
	color: #00000F;
}

.blog-single-post-box h2 span{
	color: #00BFA5;
}
.blog-single-post-box a{
	color: #00000F;
}
.blog-single-post-box a:hover{
	color: #00BFA5;
}
.blog-single-post-box ul{
	padding: 0 60px;
	display: flex;
	flex-wrap: wrap;
}
.blog-single-post-box ul li{
	color: #00000F;
	display: flex;
	align-items: center;
	margin-right: 20px;
}
.blog-single-post-box ul li svg{
	margin: 0 10px 0 0;
}

.blog-single-post-box ul li a{
	color: #00000F;
	font-weight: 700;
}
.blog-single-post-box ul li a:hover{
	text-decoration: none;
}
.blog-single-post-box .post-categories{
	display: inline-block;
	padding-left: 0;
}

.blog-single-post-box > img{
	width: 100%;
	height: 600px;
	margin-top: 20px;
	object-fit: cover;
}
.blog-single-post-box img.img-fluid{
	width: 100%;
	margin: 10px 10px;
	object-fit: cover;
}
.blog-single-post-box img.aligncenter{
	display: block;
	margin: 0 auto;
}
.blog-single-post-box .conteudo{
	margin-top: 60px;
	padding: 0 60px;
	font-size: 22px; 
}
.blog-single-post-box .conteudo p{
	color: #FFF;
	margin: 20px 0;
}
.blog-single-post-bio{
	padding: 20px 60px;
	border-radius: 10px;
	border-left: 10px solid #00BFA5;
	background: #7799A9;
	margin: 20px 0;
}
.blog-single-post-bio img{
	border-radius: 50px;
}
.blog-single-post-bio h4{
	border-bottom: 1px solid #00BFA5;
	padding-bottom: 4px;
	margin-bottom: 20px;
	font-size: 22px;
}
.blog-single-post-bio h4 a{
	font-weight: 700;
	color: #00000F;
}
.blog-single-post-bio h4 a:hover{
	text-decoration: none;
	color: #00BFA5;
}
.blog-single-post-bio span{
	display: flex;
}
.blog-single-post-bio span p{
	color:#FFF;
	margin-left: 20px;
}
.blog-single-post-box blockquote{
	background: #FFF;
	border-left: solid #00000F 4px; 
	margin: 0 20px;
	padding: 30px 30px;
	font-weight: 500;
}
.blog-single-post-box .conteudo blockquote p{
	color: #00000F;
	margin: 5px;
}
/***** OZONEAN PAGE *****/
.ozonean-bts{	
	display: flex;
	justify-content: center;		
}
.ozonean-bts button{
	background: transparent;
	height: 40px;
	margin: 0 10px 40px 10px;
	padding: 0 20px;
	border: 2px solid #FFF;
	font-weight: bold;
	color: #FFF;		
	cursor: pointer;
	border-radius: 50px;
}
#bt-ozonean-lab:hover, #bt-ozonean-lab.active{
	color: #FFC926;
	border-color: #FFC926;
}
#bt-ozonean-tree:hover, #bt-ozonean-tree.active{
	color: #00BFA5;
	border-color: #00BFA5;
}
#bt-ozonean-wm:hover, #bt-ozonean-wm.active{
	color: #F05E4D;
	border-color: #F05E4D;
}
.form-ozonean{
	background: #00000F;
	padding: 30px 30px 10px 30px;
	color: #FFF;
}
.form-ozonean h2{
	font-size: 22px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	border: none;
}
.form-ozonean label{
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color:#7799A9 ;
}
.form-ozonean textarea{
	height: 100px;
	resize: none;
}
.form-ozonean input[type="submit"]{
	margin-top: 20px;
	width: 100%;
	height: 40px;
	background: transparent;
	border: #779AAA solid 2px;
	border-radius: 30px;
	color: #779AAA;
	font-weight: bold;
	cursor: pointer;
}
.verticais-box{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	flex-grow: 0;
}
.verticais-box p{
	margin-top: 40px;
	padding: 0 20px;
	color: #FFF;
	font-size: 16px;
}

/***** BLOCK-SIDE WIDGET *****/
.widget-lateral{
	background: #00000F;
	padding: 30px 20px;
}
.widget-lateral form label{
	font-size: 16px;
	color: #7799A9;
}
.widget-lateral form input[type="text"]{
	height: 40px;
	width: 100%;
	border-radius: 5px;
	border: 0;
}
.widget-lateral form input[type="submit"]{
	width:50px;
	height:40px;
	border-radius: 5px;
	border: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008dcd+1,00bfff+100 */
	background: #008dcd; /* Old browsers */
	background: -moz-linear-gradient(left, #008dcd 1%, #00bfff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #008dcd 1%,#00bfff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #008dcd 1%,#00bfff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dcd', endColorstr='#00bfff',GradientType=1 ); /* IE6-9 */
}
.widget-lateral h4{
	margin-top: 30px;
	text-align: left;
	font-size: 16px;
	color: #7799A9;
}
.widget-lateral ul{
	padding-left:0;
	list-style: none;
}
.widget-lateral ul li a{
	color: #FFF;
}
.widget-lateral ul li.cat-item a{
	text-transform: uppercase;
}
.widget-lateral ul li.cat-item a:before{
	content: ">";
}
.widget-lateral .form-group{
	margin-bottom: 0;
}
/** ##### FIXES ##### **/
.row{
	margin:0;
}
/** ##### MOBILE ##### **/
@media (max-width: 768px) { 
	#banner-principal header h1 {
		font-size: 28px;
	}
	#banner-principal .navbar-brand img{
		width: 180px;
	}
	#banner-principal.inner-page .container-fluid, #banner-principal.inner-page .col-lg-7, #banner-principal.inner-page .col-lg-3, 
	#banner-principal.inner-page .col-lg-12{
		padding: 0;
	}
	#banner-principal.inner-page header {
		padding:40px 0;
	}
	#banner-principal nav{
		margin-top: 5px;
		height: auto;		
	}
	#banner-principal .navbar-nav{
		background: #FFF;
		margin-top: 10px;
		border-radius: 5px;
	}
	#banner-principal .navbar-nav .nav-item a{
		color: #00000F;
		padding-left: 10px;
	}
	#about-blog .col-lg-12 h2:nth-child(1){
		margin-top: 40px;
	}
	#about-blog{
		padding:40px 0;
	}
	#about-blog .box{
		margin:20px 0 0 0;
		padding:20px 20px;
		flex-direction: column;
	}
	#about-blog .box:nth-child(1) button{
		color: #FFC926;
		border-color: #FFC926;
	}
	#about-blog .box:nth-child(2) button{
		color: #00BFA5;
		border-color: #00BFA5;
	}
	#about-blog .box:nth-child(3) button{
		color: #F05E4D;
		border-color: #F05E4D;
	}
	button.slick-prev{
		left: 0;
	}
	button.slick-next{
		right: 0;
	}
	#depoimentos{
		padding: 40px 10px;
	}
	.depoimentos-carousel{
		margin-top: 20px;
	}	
	.depoimentos-carousel .depo-box{
		align-items: center;
		flex-direction: column;
	}
	.depoimentos-carousel .depo-box p{
		padding: 10px 10px 0 10px;
		margin: 0;
	}
	.depoimentos-carousel .depo-box span{
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	.depoimentos-carousel .depo-box span img{
		width: 130px;
		margin: 0 auto;
	}
	#footer .col-lg-6:nth-child(1), #footer .col-lg-6:nth-child(2){
		padding:0;
		border: 0;
	}
	#footer .col-lg-6:nth-child(1), #footer .col-lg-6:nth-child(2){
		display: flex;
		justify-content: center;
		align-items: center;
	}	
	#footer .col-lg-6:nth-child(1){
		height: 70px;
	}
	#footer .col-lg-6:nth-child(1) img{
		height: 50px;
	}	
	.blog-single-post-box {
		padding: 40px 0;
	}	
	.blog-single-post-box h1{
		padding: 0 16px;
		font-size: 40px;
	}
	.blog-single-post-box ul{
		padding: 0 16px;
		font-size: 14px;
	}
	.blog-single-post-box > img {
		height: 300px;
	}
	.blog-single-post-box .conteudo{
		margin-top: 40px;
		padding: 0 16px;
		font-size: 18px;
	}
	.blog-single-post-box h2 {
		font-size: 30px;
	}
	.blog-single-post-box blockquote {
		margin:0 5px;
		padding: 18px 10px;
	}
	.blog-single-post-box img.img-fluid{
		margin: 0;
	}
	.blog-single-post-bio {
		padding: 20px 18px;
	}
	.blog-single-post-bio span{
		flex-direction: column;
		align-items: center;
	}
	.blog-single-post-bio span img{
		margin-bottom: 10px;
	}
	.ozonean-bts button{
		height: 60px;
		margin: 0 6px 30px 6px;
		padding: 0 5px;
		border-radius: 10px;
	}
}